<div id="create">

<h2>Create a new hero !</h2>

<form method="POST" action="https://character-database.becode.xyz/characters/"  enctype="text/plain"> 

<p>Type in a name :<br><br>
    
    <input type="text" required min="2" maxlength="20" id="name" name="name" title="Type in your hero name.">
   

</p>    
<br>

<p>Type in a  short description :  </p>

<input type="text" required min="2" maxlength="90" id="shortDesc" name="shortDescription" required>
<small id="emailHelp" class="form-text text-muted"> A short description for present hero. </small> 

<br>

<p>Type in a  description : </p>
<textarea  required min="2" maxlength="100" name="desc" id="description" required></textarea> 
<small id="emailHelp" class="form-text text-muted"> A long description to give more details about your hero. </small> 

<br><br>
<div id="filePick">
<input  type="file" id="files"  required /><br>
<small id="emailHelp" class="form-text text-muted"> Pick an avatar for your hero. </small> 
<output id="list" ></output><br> 
</div>
<input style="display: none" required >



<button id="sendBtn" type="submit" class="btn btn-primary" title="Create my hero" (click)="postData()">Create</button>


</form>
</div>





