#thumb
{
 height: 100px;
 margin: 10px 5px 0 0;
}
#create
{
    padding: 20px;
    
}
#filePick
{
    padding: 20px;
    border: 2px solid cornflowerblue;
    width: 400px;
    margin: auto;
}
#sendBtn
{
    margin-top: 50px;
}

textarea
{
    padding: 5px;
    width: 400px;
    margin: auto;
}
h2
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Shadows Into Light', cursive;
}

#homeBtn
{
    position: fixed;
    left: 5%;
    top: 50%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
    background-color:  red;
    transition-duration: 0,4s;
    color: white;
    border: none;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,1);
}

#homeBtn:hover
{
    background-color: #4CAF50;
    font-size: 19px;
    
}

.links
{
    text-decoration: none;
    color: white;
}

.links:hover
{
    text-decoration: none;
    font-size: 19px;
}