<h1> character </h1>
<hr>
<div id="character" *ngFor="let character of posts | async">
  
    
        <div *ngIf="character.id === target">


        <h3 class="name"> {{character.name}}</h3>

        <img src="data:image/jpeg;base64,{{character.image}}">
   
        <p><em><i>{{character.description}}</i></em></p>
  
        <button><a routerLink="/edit/{{character.id}}" routerLinkActive="active">Edit</a></button>
        <button><a routerLink="/edit/{{character.id}}" routerLinkActive="active">Delete</a></button> 


</div>
</div>

<button>new</button>
