<h1> character </h1>
<hr>
<div id="edit" *ngFor="let character of posts | async">

        
            <div *ngIf="character.id === target">
    
    
            <h3 class="name"> {{character.name}}</h3>
    
            <img src="data:image/jpeg;base64,{{character.image}}">
       
            <p><em><i>{{character.description}}</i></em></p>
      
            <button><a routerLink="/edit/{{character.id}}" routerLinkActive="active">Delete</a></button> 
    
    
    </div>
    </div>

    <div id="create">
                <form  action="https://character-database.becode.xyz/characters/"> 
                
                <p>Type in a name : <br>
                    
                    <input type="text" required min="2" maxlength="20" id="name" name="name"> 
                
                </p>    
                
                <p>Type in a  short description :  </p>
                <br>
                <input type="text" required min="2" maxlength="90" id="shortDesc" name="shortDescription" required>
                
                
                <p>Type in a  description : </p>
                <br>
                <textarea type="" required min="2" maxlength="100" name="desc" id="description" required></textarea> 
                
                
                <input type="file" id="files"  required /><br>
                <output id="list" ></output><br> 
                
                <input style="display: none" required >
                
                
                
                <button type="button" (click)="editData()">Create</button>
                
                
                </form>
                </div>
                


<button>new</button>