#thumb
{
 height: 100px;
 margin: 10px 5px 0 0;
}
#create
{
    padding: 20px;
    
}
#filePick
{
    padding: 20px;
    border: 2px solid cornflowerblue;
    width: 400px;
    margin: auto;
}
#sendBtn
{
    margin-top: 50px;
}
textarea
{
    padding: 5px;
    width: 400px;
    margin: auto;
}

h2
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.links
{
    color: white;

}

#modal
{
    position: fixed;
    top: 40%;
    left: 40%;
    background: white;
    border: 1px solid black;
    display: none;

}

#newBtn
{
    position: fixed;
    left: 5%;
    top: 45%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
.links
{
    color: white;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}

.links:hover
{
    font-size: 19px;
    text-decoration: none;
}