#thumb
{
 height: 100px;
 margin: 10px 5px 0 0;
}
#create
{
    padding: 20px;
    
}
#filePick
{
    padding: 20px;
    border: 2px solid cornflowerblue;
    width: 400px;
    margin: auto;
}
#sendBtn
{
    margin-top: 50px;
}
textarea
{
    padding: 5px;
    width: 400px;
    margin: auto;
}

#subtitle
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.links
{
    color: white;

}

#modal
{
    position: fixed;
    top: 40%;
    left: 25%;
    background: white;
    border: 1px solid black;
    display: none;
    background-color: antiquewhite;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    height: 30vh;
    width: 50%;

}

.modalBtn
{
    margin-left: 30px;
    width: 150px;
}

.info
{
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 50px;
}

#newBtn
{
    position: fixed;
    left: 5%;
    top: 45%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}
.links
{
    color: white;
    font-style: italic;
    font-family: 'Shadows Into Light', cursive;
}

.links:hover
{
    font-size: 19px;
    text-decoration: none;
}