
header {
    background-color: red;
    text-align: center;
}


footer {
    background-color: rgb(235, 180, 0);
    text-align: center;
}

div .card-img-overlay{
    background-color: rgba(255, 255, 255, 0.8)
}

#newC {
    text-align: center;
}

a {
    margin: 2px;
}