<h1 id="subtitle"> List of characters </h1>
<hr>
<div id="home" *ngFor="let character of posts | async">

    <div class="charactersElts">

 

   <h3 class="name"> {{character.name}}</h3>

    <img class="imgElts" src="data:image/jpeg;base64,{{character.image}}">
    
    <p class="desc"><em><i>{{character.shortDescription}}</i></em></p>
   
    <div class="wrapBtn">
    <button class="btn btn-primary btnElts"   > <a class="links" routerLink="/characters/{{character.id}}" routerLinkActive="active">See more</a></button>
    <button class="btn btn-warning btnElts"   >  <a  class="links" routerLink="/edit/{{character.id}}" routerLinkActive="active">Edit</a></button>
    <button type="button" class="btn btn-danger btnElts"   (click)="displayModal(character.id)">remove</button>
    </div>

    <div id="modal">

        <p>Hey, are you sure you want to delete him ?  </p>

        <button type="button"  (click)="remove()"  class="modalBtn">

            Yes 

        </button>
        
        <button type="button" (click)="hideModal()" class="modalBtn">

            NO

        </button>

     </div>

    </div>

</div>

 

<button id="newBtn"> <a class="links" routerLink="/create" routerLinkActive="active"> Create </a></button>

